<div class = "d-flex flex-column justify-content-center text-center m-auto col-8">

  <h4 class = "text-success">Here are all your restaurants:</h4>
  
    <ul class = "p-2 col-8 m-auto">
      <div class="p-2 border bg-light m-2">
        <%= link_to "Add restaurant",  new_restaurant_path%>
      </div>
        <% @restaurants.each do |restaurant| %>
          <div class = "border p-3 list-unstyled">
            <li><%= link_to restaurant.name,  restaurant_path(restaurant) %></li>
            <%= link_to "X",  restaurant_path(restaurant), data: {turbo_method: :delete} %>
          </div>
        <% end %>
    </ul>


</div>